# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
facerecognition_client/node_modules
facerecognition_server/node_modules

# testing
facerecognition_client/coverage
facerecognition_server/coverage

# production
facerecognition_client/build
facerecognition_server/build

# misc
facerecognition_client/.DS_Store
facerecognition_server/.DS_Store
facerecognition_client/.env.local
facerecognition_server/.env.local
facerecognition_client/.env.development.local
facerecognition_server/.env.development.local
facerecognition_client/.env.test.local
facerecognition_server/.env.test.local
facerecognition_client/.env.production.local
facerecognition_server/.env.production.local

facerecognition_client/npm-debug.log*
facerecognition_server/npm-debug.log*
facerecognition_client/yarn-debug.log*
facerecognition_server/yarn-debug.log*
facerecognition_client/yarn-error.log*
facerecognition_server/yarn-error.log*
