body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background : linear-gradient(89deg, rgba(233, 201, 61, 0.89) 0%, rgb(63, 167, 158) 100%);
}

button {
  cursor : pointer;
}